.loader3 .spin img{
    margin: 10%;
    max-width: 100%;
    height: 80%;
}
.loader3 .spin span{
    border-width: 3px;
    border-style: solid;
    border-color: #ac8938 #efefef #efefef;  
}
.topbar {
    background: #ac8938;
    color: #fff;
}

.topbar .top-right-menu .top-menu li a{
    color: #f0f0f0;
}
header .brand .logo{
    max-width: 110px;
}

header .brand .logo img{
    width: 100%;
}

.horizontal-header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn{
    background-color: #ac8938;
    border-radius: 5px;
    margin-left: 10px;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn-outline{
    background-color: #fff;
    border: 2px solid #ac8938;
    color: #ac8938;
    
}

footer .footer-widgets .footer-widget .footer-logo{
    width: 80%;
}
.brand-info .inner .content img{
    max-height: 200px;
}

/* BUY PAGE */
.house-buy-filter{
    display: flex;
    padding: 0;
    height: 100vh;
    flex-direction: column; 
    justify-content: flex-end;
}

.house-buy-filter .filter-body{
    display: flex;
    height: 100%;
}
.house-buy-filter .filter-body > div{
    width: 50%;
    height: calc(100vh - 90px);
}
.house-buy-filter .house-buy-filter-map-section{
    overflow: hidden;
}


.displayed-map,
.displayed-map > div:first-child,
.displayed-map > div:first-child > div:first-child{
    width: 100% !important;
    height: 100% !important;
}


.house-buy-filter .house-buy-filter-map-section img{
    width: 100%;
}
.house-buy-filter .house-buy-filter-data-section{
    overflow-y: scroll;
    position: relative;
    box-shadow: -2px 2px 5px 0 rgb(0 0 0 / 40%);

}

.search-form-top{
    border-bottom: 1px solid #ccc;
}

.search-form-top .search-house-form{
    width: 100%;
    padding: 5px 15px;
    background-color: #fff;
}

.search-form-top .search-house-form .form-group{
    margin-bottom: 5px;
}

.btn-find-hous-buy-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.houses-list-main{
    padding: 30px 0; 
    height: 100%;
}

/* =====  MAP ROOMS LIST ===== */

.leaflet-popup-content-wrapper{
    background: white;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%) !important;
    border-radius: 2px !important;
    position: relative !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item ,
.room-list-item .favorite-item {
    color: #ffffff;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: right;
    float: right;
    margin-bottom: -50px;
    z-index: 1;
    padding-right: 7px;
    padding-top: 7px;
    line-height: 1;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item:before ,
.room-list-item .favorite-item:before {
    content: " ";
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    border-top: 50px solid #edcb9a;
    border-left: 50px solid transparent;
    top: 0;
    left: auto;
    right: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item i ,
.room-list-item .favorite-item i {
    position: relative;
    z-index: 2;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item figure a:before ,
.room-list-item figure a:before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    bottom: 10px;
    left: 10px;
    border: 5px double rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-right: none;
    -webkit-transition: 1s;
    transition: 1s;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info ,
.room-list-item .room-info {
    padding: 15px 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-title ,
.room-list-item .room-info .room-title {
    margin-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-title a ,
.room-list-item .room-info .room-title a {
    color: #d7d8d9;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates ,
.room-list-item .room-info .room-rates {
    margin-bottom: 5px;
    text-transform: uppercase;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates i ,
.room-list-item .room-info .room-rates i {
    font-size: 13px;
    color: #ffb600;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates a ,
.room-list-item .room-info .room-rates a {
    margin-left: 5px;
    font-size: 12px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-price ,
.room-list-item .room-price {
    text-align: center;
    padding: 10px;
    height: 100%;
    border-left: 1px dashed #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-price .price ,
.room-list-item .room-price .price {
    margin-bottom: 30px;
    font-size: 20px;
    color: #edcb9a;
    text-transform: uppercase;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services ,
.room-list-item .room-services {
    margin-top: 38px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services i ,
.room-list-item .room-services i {
    width: 30px;
    height: 30px;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: #afafaf;
    border-radius: 1px;
    font-size: 11px;
    -webkit-transition: .5s;
    transition: .5s;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services span ,
.room-list-item .room-services span {
    height: 30px;
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: #afafaf;
    border-radius: 1px;
    font-size: 12px;
    -webkit-transition: .5s;
    transition: .5s;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services i:hover, .room-list-item .room-services span:hover ,
.room-list-item .room-services i:hover, .room-list-item .room-services span:hover {
    cursor: pointer;
    background: #e3e3e3;
}

.room-list-item .room-info{
    padding: 15px;
}
.room-list-item figure a:before{
    right: 10px;
    border-right: 5px double rgba(255, 255, 255, 0.5);
}

/* START OF MAP TOOL TIP*/



/* END OF MAP TOOL TIP*/


  /* ===== END OF MAP ROOMS LIST ===== */

@media(max-width: 1200px){
    .search-house-form{
        position: unset;
    }

    .house-buy-filter{
        height: auto;
    }

    .houses-list-main{
        padding: 30px 0; 
        height: auto;
    }

    .house-buy-filter .house-buy-filter-map-section{
        display: none;
    }
    .house-buy-filter .house-buy-filter-data-section{
        width: 100%;
    }
    .house-buy-filter .filter-body > div{
        width: 100%;
        height: auto;
    }
    .panel-dropdown .panel-dropdown-content{
        right: 15px;
    }
    .panel-dropdown .panel-dropdown-content:before{
        right: 20px;
    }

}

/* END BUY PAGE*/

/* START OF General Styles*/
::-webkit-scrollbar{
    width: 0;
}
.house-search-action-btn{
    margin-bottom: 5px;
}
.room-list-item .room-price .price{
    font-size: 36px;
}
/* END OF General Styles*/

/* START OF MOBILE MAP */
.mobile-map-displayer,
.mobile-list-displayer{
    display: none;
    position: fixed;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 1022;
    background: #edcb9a;
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 1.2;
    font-size: 22px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.btn:hover, .btn:focus, .btn:active{
    height: 100%;
}

.mobile-map-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: none;
}
.mobile-map-view-map,
.mobile-map-view-map > div ,
.mobile-map-view-map > div > div{
    width: 100% !important;
    height: 100% !important;
}

@media(max-width: 992px){
    .mobile-map-displayer,
    .mobile-list-displayer{
        display: flex !important;
        align-items: flex-end !important;
    }
}



/* END OF MOBILE MAP */

