.loader3 .spin img{
    margin: 10%;
    max-width: 100%;
    height: 80%;
}
.loader3 .spin span{
    border-width: 3px;
    border-style: solid;
    border-color: #ac8938 #efefef #efefef;  
}
.topbar {
    background: #ac8938;
    color: #fff;
}

.topbar .top-right-menu .top-menu li a{
    color: #f0f0f0;
}
header .brand .logo{
    max-width: 110px;
}

header .brand .logo img{
    width: 100%;
}

.horizontal-header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn{
    background-color: #ac8938;
    border-radius: 5px;
    margin-left: 10px;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn-outline{
    background-color: #fff;
    border: 2px solid #ac8938;
    color: #ac8938;
    
}

footer .footer-widgets .footer-widget .footer-logo{
    width: 80%;
}
.brand-info .inner .content img{
    max-height: 200px;
}

/* BUY PAGE */
.house-buy-filter{
    display: flex;
    padding: 20px 0;
    max-height: 80vh;
}
.house-buy-filter > div{
    width: 50%;
}
.house-buy-filter .house-buy-filter-map-section{
    overflow: hidden;
}


.displayed-map,
.displayed-map > div:first-child,
.displayed-map > div:first-child > div:first-child{
    width: 100% !important;
    height: 100% !important;
}


.house-buy-filter .house-buy-filter-map-section img{
    width: 100%;
}
.house-buy-filter .house-buy-filter-data-section{
    overflow-y: scroll;
    position: relative;
}
.search-house-form{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 1019;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 75px 0 rgb(0 0 0 / 7%);
    box-shadow: 0 15px 75px 0 rgb(0 0 0 / 7%);
}


.btn-find-hous-buy-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-list-item .room-info{
    padding: 15px;
}
.room-list-item figure a:before{
    right: 10px;
    border-right: 5px double rgba(255, 255, 255, 0.5);
}


/* =====  MAP ROOMS LIST ===== */

  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item {
    border-radius: 2px;
    margin-bottom: 40px;
    border: 1px solid #efefef;
    position: relative;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item {
    color: #ffffff;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: right;
    float: right;
    margin-bottom: -50px;
    z-index: 1;
    padding-right: 7px;
    padding-top: 7px;
    line-height: 1;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item:before {
    content: " ";
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    border-top: 50px solid #edcb9a;
    border-left: 50px solid transparent;
    top: 0;
    left: auto;
    right: 0;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .favorite-item i {
    position: relative;
    z-index: 2;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item figure a:before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    bottom: 10px;
    left: 10px;
    border: 5px double rgba(255, 255, 255, 0.5);
    z-index: 999;
    border-right: none;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info {
    padding: 15px 0;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-title {
    margin-top: 0;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-title a {
    color: #d7d8d9;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates i {
    font-size: 13px;
    color: #ffb600;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-info .room-rates a {
    margin-left: 5px;
    font-size: 12px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-price {
    text-align: center;
    padding: 10px;
    height: 100%;
    border-left: 1px dashed #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-price .price {
    margin-bottom: 30px;
    font-size: 20px;
    color: #edcb9a;
    text-transform: uppercase;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services {
    margin-top: 38px;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services i {
    width: 30px;
    height: 30px;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: #afafaf;
    border-radius: 1px;
    font-size: 11px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services span {
    height: 30px;
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: #afafaf;
    border-radius: 1px;
    font-size: 12px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .leaflet-popup-content-wrapper .leaflet-popup-content .room-list-item .room-services i:hover, .room-list-item .room-services span:hover {
    cursor: pointer;
    background: #e3e3e3;
  }

  /* ===== END OF MAP ROOMS LIST ===== */

@media(max-width: 1200px){
    .search-house-form{
        position: unset;
    }

    .house-buy-filter .house-buy-filter-map-section{
        display: none;
    }
    .house-buy-filter .house-buy-filter-data-section{
        width: 100%;
    }
}

/* END BUY PAGE*/

/* START OF General Styles*/
::-webkit-scrollbar{
    width: 0;
}
.house-search-action-btn{
    margin-bottom: 5px;
}
.room-list-item .room-price .price{
    font-size: 36px;
}
/* END OF General Styles*/

