/* START OF FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* END OF FONTS */

/* START OF CSS VARIABLES */
/* 0:ac8938 1:e91e63 2:04b7a4 */
:root{
    --main-site-color: #04b7a4; 
}
/* END OF CSS VARIABLES */

*{
    font-family: 'Rubik', sans-serif;
}

.loader3 .spin img{
    margin: 10%;
    max-width: 100%;
    height: 80%;
}
.loader3 .spin span{
    border-width: 3px;
    border-style: solid;
    border-color: var(--main-site-color) #efefef #efefef;  
}


.loader3 .spin div{
    display: inline-block;
    height: 100%;
}
.loader3 .spin div svg{
    display: inline-block;
    height: 80%;
    width: 100%;
    margin-top: 50%;
}
.loader3 .spin div svg path{
    fill: var(--main-site-color);
}

.topbar {
    background: var(--main-site-color);
    color: #fff;
}

.topbar .top-right-menu .top-menu li a{
    color: #f0f0f0;
}
header .brand .logo{
    max-width: 110px;
}

header .brand .logo img{
    width: 100%;
}

header .brand .logo span{
    display: inline-block;
}
header .brand .logo span svg{
    width: 115px;
    display: inline-block;
    height: auto;
}
header .brand .logo span svg rect{
    fill: var(--main-site-color);
}

@media (max-width: 991.98px){
    header {
        height: 70px;
    }
}

.horizontal-header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn{
    background-color: var(--main-site-color);
    border-radius: 5px;
    margin-left: 10px;
}
header.horizontal-header .main-menu .menu .menu-item.menu-btn .btn-outline{
    background-color: #fff;
    border: 2px solid var(--main-site-color);
    color: var(--main-site-color);
    
}

header.horizontal-header .main-menu .menu .menu-item a:hover, 
header.horizontal .main-menu .menu .menu-item a:focus, 
header.horizontal-header .main-menu .menu .menu-item.open a, 
header.horizontal-header .main-menu .menu .menu-item.active a {
    color: var(--main-site-color);
}

footer .footer-widgets .footer-widget .footer-logo{
    width: 80%;
}
footer .footer-widgets .footer-widget span{
    display: inline-block;
}
footer .footer-widgets .footer-widget span svg{
    max-width: 100%;
    height: auto;
}
footer .footer-widgets .footer-widget span svg rect{
    fill: var(--main-site-color);
}

.brand-info .inner .content img{
    max-height: 200px;
}

.brand-info .inner .content div{
    height: 100%;
}


.brand-info .inner .content div svg{
    max-height: 200px;
    height: 200px;
    width: auto;
}
.brand-info .inner .content div svg path{
    fill: var(--main-site-color);
}

.brand-info .inner .stars i,
.brand-info .inner .title{
    color: var(--main-site-color) !important;
}

/* BUY PAGE */
.house-buy-filter{
    display: flex;
    padding: 0;
    flex-direction: column; 
    justify-content: flex-end;
    padding-bottom: 70px;
}

.house-buy-filter .filter-body{
    display: flex;
    height: 100%;
}

.house-buy-filter .house-buy-filter-map-section{
    overflow: hidden;
}


.displayed-map,
.displayed-map > div:first-child,
.displayed-map > div:first-child > div:first-child{
    width: 100% !important;
    height: 100% !important;
}


.house-buy-filter .house-buy-filter-map-section img{
    width: 100%;
}


.search-form-top .search-house-form{
    width: 100%;
    padding: 5px 15px;
    background-color: #fff;
}

.search-form-top .search-house-form .form-group{
    margin-bottom: 5px;
}

.btn-find-hous-buy-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.houses-list-main{
    padding: 30px 0; 
    height: 100%;
}

/* =====  MAP ROOMS LIST ===== */

.leaflet-popup-content-wrapper{
    background: white;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%) !important;
    border-radius: 2px !important;
    position: relative !important;
    padding: 0 !important;
}
.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0 !important;
}
.leaflet-container a{
    color: #111;
}

.map-card-container{
	display: block;
    width: 300px;
	overflow: hidden;
	background-color: #fff;
}

.map-card-container .map-card-image,
.map-card-container .map-card-image img{
	width: 100%;
}

.map-card-container .map-card-details{
	padding: 10px;
}

.map-card-container .map-card-details .map-card-details-price{
	display: inline-block;
	background-color: #eee;
	padding: 10px 20px;
	border-radius: 5px;
    font-size: 2rem;
}

.room-list-item{
    border: 0 !important;
}
.room-list-item figure{
    border-radius: 7px;
    overflow: hidden;
}
.room-list-item .room-info{
    padding: 10px 0 0 0;
}
.room-list-item figure a:before{
    right: 10px;
    border: 0 double rgba(255, 255, 255, 0.5);
}


/* START OF MAP TOOL TIP*/



/* END OF MAP TOOL TIP*/


  /* ===== END OF MAP ROOMS LIST ===== */

@media(max-width: 1200px){
    .search-house-form{
        position: unset;
    }

    .house-buy-filter{
        height: auto;
    }

    .houses-list-main{
        padding: 30px 0; 
        height: auto;
    }

    .house-buy-filter .house-buy-filter-map-section{
        display: none;
    }
    .house-buy-filter .house-buy-filter-data-section{
        width: 100%;
    }
    .house-buy-filter .filter-body > div{
        width: 100%;
        height: auto;
    }
    .panel-dropdown .panel-dropdown-content{
        right: 15px;
    }
    .panel-dropdown .panel-dropdown-content:before{
        right: 20px;
    }

}

/* END BUY PAGE*/

/* START OF General Styles*/
::-webkit-scrollbar{
    width: 0;
}
.house-search-action-btn{
    margin-bottom: 5px;
}
.room-list-item .room-price .price{
    font-size: 36px;
}
/* END OF General Styles*/

/* START OF MOBILE MAP */
.mobile-map-displayer,
.mobile-list-displayer{
    position: fixed;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 1022;
    background: var(--main-site-color);
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 1.2;
    font-size: 22px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.btn:hover, 
.btn:focus, 
.btn:active{
    background-color: var(--main-site-color);
}

.mobile-map-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: none;
}
.mobile-map-view-map,
.mobile-map-view-map > div ,
.mobile-map-view-map > div > div{
    width: 100% !important;
    height: 100% !important;
}

.full-map-filter{
    width: 80%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 1;
    border-radius: 15px;
    padding: 20px;
}

.full-map-filter .search-house-form{
    overflow: hidden;
    border-radius: 5px;
}

.full-map-filter .search-house-form form .input-group input{
    background-color: #fff;
    border: 1px solid var(--main-site-color);
    color: var(--main-site-color);
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}

.full-map-filter .search-house-form form .btn{
    padding: 0.375rem 0.75rem;
}
.full-map-filter .search-house-form form .btn:hover, 
.full-map-filter .search-house-form form .btn:focus, 
.full-map-filter .search-house-form form .btn:active{
    background-color: var(--main-site-color);
    height: auto;
}

.input-group{
    flex-wrap: nowrap !important;
}
.input-group .form-control{
    min-width: 50%;
}

.back-to-top,
.toggle-menu-button .line{
    background-color: var(--main-site-color);
}

.form-control, .form-control[readonly]{
    border-radius: 7px !important;
}

.form-control.bootstrap-select button, .form-control.bootstrap-select button.dropdown-toggle{
    border-radius: 7px !important;
}

@media(max-width: 992px){
    .mobile-map-displayer,
    .mobile-list-displayer{
        display: flex !important;
        align-items: flex-end !important;
    }

        
    label {
        font-size: 12px;
    }

    .form-control, .form-control[readonly] {
        font-size: 12px;
        word-break: break-all;
    }
}

.btn{
    background-color: var(--main-site-color);
}
/* END OF MOBILE MAP */

/* Icons */
.icons{
    height: 50px;
    width: 50px;
    background: var(--main-site-color);
    border-radius: 4px;
    right: 30px;
    bottom: 60px;
    position: fixed;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 999;
    font-size: 24px;
    color: #fff;
    line-height: 2;
}
.icons-whatsapp{
    background: #4caf50
}

.fav-icon{
    position: absolute;
    top: 0px;
    right: 15px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    z-index: 5;
    cursor: pointer;
}

/* START OF BUY CARD SLIDER */
.house-card-slider{
    min-height: 250px;
}
.house-card-slider .house-card-image-slider,
.house-card-slider .house-card-image-slider .carousel-inner,
.house-card-slider .house-card-image-slider .carousel-inner .carousel-item,
.house-card-slider .house-card-image-slider .carousel-inner .carousel-item img{
    height: 100%;
}
.house-card-slider .house-card-image-slider{
    border-radius: 10px;
    overflow: hidden;
}
.house-card-slider .house-card-image-slider .carousel-inner .carousel-item img{
   object-fit: cover;
}
.house-card-slider .house-card-image-slider .carousel-indicators{
    bottom: -10px;
}
.house-card-slider .house-card-image-slider .carousel-indicators li{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
}
/* END OF BUY CARD SLIDER */


.change-color{
    height: 50px;
    width: 50px;
    background: var(--main-site-color);
    border-radius: 4px;
    right: 30px;
    bottom: 120px;
    position: fixed;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    box-shadow: 0 5px 10px 0 rgb(35 50 56 / 15%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 999;
    font-size: 24px;
    color: #fff;
    line-height: 2;
}
.change-color input{
    width: 100%;
    height: 100%;
}

.buy-page-details-location-map{
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}