<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah | SELL{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}

{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}

{% comment %} Header {% endcomment %}
{% include 'pages/frontend/header.html' %}

{% comment %} Footer {% endcomment %}
{% include 'pages/frontend/footer.html' %}

    
{% endblock currentBodyContent %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}
<script>
    $(function(){
        // Active current page
        $(".menu-item.sell_page").addClass("active").siblings().removeClass("active");
    })
</script>
{% endblock currentPageScriptsFiles %}
