{% load static %}
<!-- ========== FOOTER ========== -->
<footer>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="footer-widget">
                        <img src="{% static 'base/images/logo.svg' %}" class="footer-logo" alt="Buhrah">
                        <div class="inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, velit placeat assumenda incidunt dolorem aliquam!</p>
                        </div>
                    </div>
                </div>

                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="footer-widget">
                    <h3>posts</h3>
                    <div class="inner">
                        <ul class="latest-posts">
                        <li>
                            <a href="blog-post.html">10 Tips for holiday travel</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Are you ready to enjoy your holidays</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Honeymoon with Buhrah</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Travel gift ideas for every type of traveler</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Breakfast with coffee and orange juice</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>

                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>USEFUL LINKS</h3>
                        <div class="inner">
                            <ul class="useful-links">
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Finance Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="footer-widget">
                    <h3>Contact Info</h3>
                    <div class="inner">
                        <ul class="contact-details">
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Lorem ipsum dolor, 25, Buhrah</li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Phone: +966 000 000 000
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                Fax: +966 000 000 000</li>
                            <li>
                                <i class="fa fa-globe"></i>
                                Web: www.buhrah.com</li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:
                                <a href="mailto:info@site.com">contact@buhrah.com</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- SUBFOOTER -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyrights">&copy; 2022 Buhrah. Designed by
                    <a href="https://elsherbiniy.com/" target="_blank">El-sherbiniy</a>.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========== END OF FOOTER ========== -->
