<!-- Load Static Files -->
{% load static %}

<!-- Start HTML Code -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Main Meta Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Important Meta Tags -->
        <meta name="author" content="buhrah.com" />
        <meta name="description" content="Welcome To Buhrah"/>
        <meta name="keywords" content="Buhrah, Rent, Sell, House" />

        <!-- Library Styles -->
        <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/jquery.mmenu.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/revolution/css/layers.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/revolution/css/settings.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/revolution/css/navigation.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

        <!-- ========== ICON FONTS ========== -->
        <link href="{% static 'frontend/fonts/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/fonts/flaticon.css' %}" rel="stylesheet">
        
        <!-- Main Style -->
        <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}" />

        <!-- Current Page Styles Files -->
        {% block currentPageStylesFiles %} {% endblock currentPageStylesFiles %}

        <!-- Page Title & Icon -->
        <title>{% block title %} {% endblock title %}</title>
        <link rel="shortcut icon" href="{% static 'base/images/icon.svg' %}" />
    </head>
    <body>

        {% comment %} Token {% endcomment %}
        {% csrf_token %}
        
        <!-- ========== PRELOADER ========== -->
        <div class="loader loader3">
            <div class="loader-inner">
                <div class="spin">
                    <span></span>
                    <img src="{% static 'base/images/icon.svg' %}" alt="Buhrah">
                </div>
            </div>
        </div>
        <!-- ========== END PRELOADER ========== -->

        <!-- ========== MOBILE MENU ========== -->
        <nav id="mobile-menu"></nav>
        <!-- ========== END MOBILE MENU ========== -->

        <!-- ========== WRAPPER ========== -->
        <div class="wrapper">  

            <!-- Page Content-->
            {% block currentBodyContent %} {% endblock currentBodyContent %}
            
        </div>
        <!-- ========== END OF WRAPPER ========== -->

        <!-- ========== CONTACT NOTIFICATION ========== -->
        <div id="contact-notification" class="notification fixed"></div>
        
        <!-- ========== BACK TO TOP ========== -->
        {% comment %} <div class="back-to-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div> {% endcomment %}

        <!-- ========== Whats app icon ========== -->
        <div class="icons icons-whatsapp">
            <i class="fa fa-whatsapp"></i>
        </div>

        {% comment %} Extra html {% endcomment %}
        {% block extra_html %} {% endblock extra_html %}

        <!-- Required Scripts -->
        <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
        <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'base/js/popper.js' %}"></script>
        <script src="{% static 'frontend/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.mmenu.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.inview.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'frontend/js/owl.carousel.thumbs.min.js' %}"></script>
        <script src="{% static 'frontend/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'frontend/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'frontend/js/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'frontend/js/wow.min.js' %}"></script>
        <script src="{% static 'frontend/js/countup.min.js' %}"></script>
        <script src="{% static 'frontend/js/moment.min.js' %}"></script>
        <script src="{% static 'frontend/js/daterangepicker.js' %}"></script>
        <script src="{% static 'frontend/js/parallax.min.js' %}"></script>
        <script src="{% static 'frontend/js/smoothscroll.min.js' %}"></script>
        <script src="{% static 'frontend/js/instafeed.min.js' %}"></script>
        <script src="{% static 'frontend/js/main.js' %}"></script>
        
        <!-- Current Page Scripts Files -->
        {% block currentPageScriptsFiles %} {% endblock currentPageScriptsFiles %}

    </body>
</html>
