<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah | BUY{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}

{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}


{% comment %} Header {% endcomment %}
{% include 'pages/frontend/header.html' %}


<!-- ========== MAIN ========== -->
<main class="room">
    <div class="container">
        <!-- ROOM SLIDER -->
        <div class="room-slider">
            <div id="room-main-image" class="owl-carousel image-gallery">
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                        <a href="{% static 'frontend/images/rooms/im1.webp' %}">
                            <img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image">
                        </a>
                    </figure>
                </div>

                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                        <a href="{% static 'frontend/images/rooms/im2.webp' %}">
                            <img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image">
                        </a>
                    </figure>
                </div>

                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                        <a href="{% static 'frontend/images/rooms/im3.webp' %}">
                            <img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image">
                        </a>
                    </figure>
                </div>
                
                

            </div>
            <div id="room-thumbs" class="room-thumbs owl-carousel">
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image"></div>
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image"></div>
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image"></div>
            
            </div>
        </div>

        <p class="dropcap">Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea
            <u>commodo consequat.</u>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit...
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ut, asperiores voluptatibus quo rem iusto laborum, laudantium corrupti ea esse officia placeat beatae! Ducimus quasi nisi odio architecto repudiandae illo sunt nulla quia obcaecati
            blanditiis? Doloremque commodi deserunt corporis, maiores, quam ipsam voluptates beatae necessitatibus, sapiente impedit sunt cupiditate odio, officiis quo debitis distinctio! Tenetur quibusdam modi adipisci vel ullam cum ratione itaque laborum
            molestias nesciunt. Qui itaque saepe obcaecati quo tempora natus laudantium quidem, inventore totam. Nobis incidunt est doloribus qui vero expedita a fugit necessitatibus minus sapiente illo, commodi laudantium minima quo deserunt odio repellat
            placeat quas, perferendis, voluptates! Omnis corporis nostrum optio reprehenderit aspernatur consequuntur, nisi rerum. Architecto provident alias voluptatem aliquam tenetur eius eos. Iure, earum. Asperiores consectetur, dolorem animi pariatur. Magni
            necessitatibus non hic odit nesciunt voluptatum distinctio provident, repellendus quae dolores, assumenda delectus quisquam fuga velit natus cumque. Odio sint deserunt ex dolorem, culpa, sit accusantium nesciunt. Dicta, nulla aperiam expedita nihil
            at laborum! Minima ducimus, nobis quasi minus totam ab quo, quia labore nihil praesentium doloremque recusandae! Voluptas delectus distinctio architecto aliquid eligendi nostrum odio a culpa modi cumque mollitia id, consequuntur, labore, ut minima
            illum. Repellendus cumque veniam quae odit enim.
        </p>
        <div class="section-title">
            <h4>ROOM SERVICES</h4>
            <p class="section-subtitle">Single Room Includes</p>
        </div>
        <div class="room-services-list">
            <div class="row">
                
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Double Bed</li>
                        <li>
                        <i class="fa fa-check"></i>80 Sq mt</li>
                        <li>
                        <i class="fa fa-check"></i>3 Persons</li>
                        <li>
                        <i class="fa fa-check"></i>Free Internet</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Free Wi-Fi</li>
                        <li>
                        <i class="fa fa-check"></i>Breakfast Include</li>
                        <li>
                        <i class="fa fa-check"></i>Private Balcony</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Free Newspaper</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li class="no">
                        <i class="fa fa-times"></i>Flat Screen Tv</li>
                        <li>
                        <i class="fa fa-check"></i>Full Ac</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Beach View</li>
                        <li>
                        <i class="fa fa-check"></i>Room Service</li>
                    </ul>
                </div>

            </div>
        </div>
        <p>
            Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea
            <u>commodo consequat.</u>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit...
        </p>
        
        <p>
            Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea
            <u>commodo consequat.</u>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit...
        </p>
        
    </div>
</main>


{% comment %} Footer {% endcomment %}
{% include 'pages/frontend/footer.html' %}

{% endblock currentBodyContent %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}
<script>
    $(function(){
        // Active current page
        $(".menu-item.buy_page").addClass("active").siblings().removeClass("active");
    })
</script>
{% endblock currentPageScriptsFiles %}
