<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah | BUY{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}


{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}


{% comment %} Header {% endcomment %}
{% include 'pages/frontend/header.html' %}


<!-- ========== MAIN ========== -->
<main class="room" style="padding: 50px 0;">
    <div class="container">
        

        {% comment %} START OF GALLERY {% endcomment %}

        <!-- ROOM SLIDER -->
        <div class="room-slider">
            <div id="room-main-image" class="owl-carousel image-gallery">
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im1.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im2.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im3.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im1.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im2.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im3.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im1.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
                <!-- ITEM -->
                <div class="item">
                    <figure class="gradient-overlay-hover image-icon">
                    <a href="{% static 'frontend/images/rooms/im1.webp' %}">
                        <img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image">
                    </a>
                    </figure>
                </div>
            </div>

            <div id="room-thumbs" class="room-thumbs owl-carousel">
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im3.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im1.webp' %}" alt="Image"></div>
                <!-- ITEM -->
                <div class="item"><img class="img-fluid" src="{% static 'frontend/images/rooms/im2.webp' %}" alt="Image"></div>
            </div>
        </div>
        
        {% comment %} END OF GALLERY {% endcomment %}
        
        {% comment %} START OF PAGE BODY {% endcomment %}
        <section class="house-details-page-body">
            <div class="row">

                {% comment %} START OF PAGE CONTENT {% endcomment %}
                <div class="col-lg-8">
    
                    {% comment %} START OF Section [1]: Title and Price {% endcomment %}
                    <div class="row">
    
                        {% comment %} Title {% endcomment %}
                        <div class="col-md-9 house-top-details">
                            <h1 class="house-title">
                                House for sale, 1024 Kennedy Dr, St. Augustine, FL 32084, USA, in St. Johns County, United States
                            </h1>

                            <div class="house-location">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                </span>
                                <p>
                                    St. Johns County, 1024 Kennedy Dr, St. Augustine, FL 32084, USA
                                </p>
                            </div>

                            <div class="house-features">
                                <div>Beds: <span>5</span></div>
                                <div>Bathrooms: <span>2</span></div>
                                <div>Area: <span>500</span> m<sup>2</sup> </div>
                            </div>
                            
                        </div>
                        
                        {% comment %} Price {% endcomment %}
                        <div class="col-md-3">
                            <h4 class="current-price">$339,000</h4>
                            <h5 class="discount"><span class="original-price">$349,000</span> -$10,000</h5>
                        </div>
                        {% comment %} END OF Price {% endcomment %}

                        {% comment %} START OF HOUSE DESCRIPTION {% endcomment %}
                        <div class="col-md-12 house-details-description">
                            <p>Double Wide with Single Car Garage in Puerto Vista Mobile Home Park. 3 bed, 2 bath. Large open living/dining, Galley Kitchen, Custom laundry & storage with built-in cabinet & folding table. Primary suite: 2nd room could be bedroom/office. 3rd bedroom is near the guest bath, and has custom storage off the closet. Small back yard, planters, and a deep one car garage finish this property! Call your agent for more info!
                            </p>
                        </div>
                        {% comment %} END OF HOUSE DESCRIPTION {% endcomment %}
                        
                        {% comment %} START OF AREAS {% endcomment %}
                        <div class="col-md-12 house-details-areas house-details-section">

                            <div class="house-details-areas-title">
                                <h4>SERVICES</h4>
                            </div>

                            {% comment %} start of spaces {% endcomment %}
                            <div class="house-details-areas-section house-details-areas-spaces">
                                <div class="house-details-areas-section-title">
                                    <h6>Spaces</h6>
                                </div>
                                <div class="house-details-areas-section-body">
                                    <div class="row">
                                        
                                        <!-- Start of item -->
                                        <div class="col-md-6">
                                            <div class="house-details-areas-section-body-item">
                                                <span>Rooms</span>
                                                <h6>3</h6>
                                            </div>
                                        </div>
                                        <!-- End of of item -->

                                        <!-- Start of item -->
                                        <div class="col-md-6">
                                            <div class="house-details-areas-section-body-item">
                                                <span>Bedrooms</span>
                                                <h6>4</h6>
                                            </div>
                                        </div>
                                        <!-- End of of item -->

                                        <!-- Start of item -->
                                        <div class="col-md-6">
                                            <div class="house-details-areas-section-body-item">
                                                <span>Bathrooms</span>
                                                <h6>2</h6>
                                            </div>
                                        </div>
                                        <!-- End of of item -->

                                    </div>
                                </div>
                            </div>
                            {% comment %} end of spaces {% endcomment %}

                            {% comment %} START OF SURFACES {% endcomment %}
                            <div class="house-details-areas-section house-details-areas-surfaces">
                                <div class="house-details-areas-section-title">
                                    <h6>Surfaces</h6>
                                </div>
                                <div class="house-details-areas-section-body">
                                    <div class="row">
                                        
                                        <!-- Start of item -->
                                        <div class="col-md-6">
                                            <div class="house-details-areas-section-body-item">
                                                <span>Living</span>
                                                <h6>107.02 m²</h6>
                                            </div>
                                        </div>
                                        <!-- End of of item -->

                                        <!-- Start of item -->
                                        <div class="col-md-6">
                                            <div class="house-details-areas-section-body-item">
                                                <span>Internal</span>
                                                <h6>107.02 m²</h6>
                                            </div>
                                        </div>
                                        <!-- End of of item -->

                                    </div>
                                </div>
                            </div>
                            {% comment %} END OF SURFACES {% endcomment %}

                        </div>
                        {% comment %} END OF AREAS {% endcomment %}

                        {% comment %} START OF LOCATION {% endcomment %}
                        <div class="col-md-12 house-details-location house-details-section">

                            <div class="house-details-location-title">
                                <h4>Location</h4>
                                <p class="section-subtitle">Location lat, lang, google icon</p>
                            </div>

                            {% comment %} start of Map {% endcomment %}
                            <div class="buy-page-details-location-map">
                                {{map|safe}}
                            </div>
                            {% comment %} end of Map {% endcomment %}

                        </div>
                        {% comment %} END OF LOCATION {% endcomment %}

                        {% comment %} START OF Amenities {% endcomment %}
                        <div class="col-md-12 house-details-amenities house-details-section">

                            <div class="house-details-amenities-title">
                                <h4>Amenities</h4>
                            </div>

                            <div class="row">

                                <!-- START OF ITEM -->
                                <div class="col-md-6">
                                    <div class="amenities-item">
                                        <div class="amenities-item-icon">
                                            <image src="{% static 'base/images/icon.svg' %}" alt="icon">
                                        </div>
                                        <div class="amenities-item-title">
                                            <span>Terrace</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OF ITEM -->

                                <!-- START OF ITEM -->
                                <div class="col-md-6">
                                    <div class="amenities-item">
                                        <div class="amenities-item-icon">
                                            <image src="{% static 'base/images/icon.svg' %}" alt="icon">
                                        </div>
                                        <div class="amenities-item-title">
                                            <span>Terrace</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OF ITEM -->

                                <!-- START OF ITEM -->
                                <div class="col-md-6">
                                    <div class="amenities-item">
                                        <div class="amenities-item-icon">
                                            <image src="{% static 'base/images/icon.svg' %}" alt="icon">
                                        </div>
                                        <div class="amenities-item-title">
                                            <span>Terrace</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OF ITEM -->

                            </div>

                        </div>
                        {% comment %} END OF Amenities {% endcomment %}

                        {% comment %} START OF Amenities {% endcomment %}
                        <div class="col-md-12 house-details-Construction house-details-section">

                            <div class="house-details-Construction-title">
                                <h4>Construction</h4>
                            </div>
                            <div class="house-details-Construction-section-body">
                                <div class="row">
                                    
                                    <!-- Start of item -->
                                    <div class="col-md-6">
                                        <div class="house-details-Construction-section-body-item">
                                            <span>Type</span>
                                            <h6>House</h6>
                                        </div>
                                    </div>
                                    <!-- End of of item -->

                                    <!-- Start of item -->
                                    <div class="col-md-6">
                                        <div class="house-details-Construction-section-body-item">
                                            <span>Construction year</span>
                                            <h6>1977</h6>
                                        </div>
                                    </div>
                                    <!-- End of of item -->

                                </div>
                            </div>

                        </div>
                        {% comment %} END OF Amenities {% endcomment %}
                        

                    </div>
                    {% comment %} END OF Section [1]: Title and Price {% endcomment %}
    
                </div>
                {% comment %} END OF PAGE CONTENT {% endcomment %}
    
                {% comment %} START OF PAGE REQUEST TOURE {% endcomment %}
                <div class="col-lg-4 house-details-request-tour-web-view">
                    
                    <div class="house-details-request-tour">


                        <form>

                            <div class="house-details-request-tour-form-contact-info">
                                <input type="text" placeholder="Full name" >
                                <input type="email" placeholder="E-mail" >
                                <input type="tel" placeholder="Mobile number" >
                            </div>
                            <div class="house-details-request-tour-form-contact-message">
                                <label>Message</label>
                                <textarea></textarea>
                            </div>

                            <div class="house-details-request-tour-form-contact-button">
                                <button>Request Tour</button>
                            </div>

                        </form>

                    </div>

                </div>
                {% comment %} END OF PAGE REQUEST TOURE {% endcomment %}
                
            </div>

        </section>
        {% comment %} END OF PAGE BODY {% endcomment %}


    </div>
</main>


{% comment %} Footer {% endcomment %}
{% include 'pages/frontend/footer.html' %}

{% endblock currentBodyContent %}


{% comment %} Extra html {% endcomment %}
{% block extra_html %} 

    <div class="bottom-navbar-mobile-view">

        <button class="request-tour-mobile-navbar-btn" id="request-tour-mobile-navbar-btn" >Request Tour</button>
        <button class="contact-us-mobile-navbar-btn">Contact Us</button>
        
    </div>

    <div class="house-details-request-tour-mobile-view" id="house-details-request-tour-mobile-view">

        <div class="house-details-request-tour">

            <div class="house-details-request-tour-header">
                <h6>Request Tour</h6>
                <div class="house-details-request-tour-header-icon" id="house-details-request-tour-header-icon">
                    x
                </div>
            </div>

            {% comment %} Start of Form {% endcomment %}
            <form>

                <div class="house-details-request-tour-form-contact-info">
                    <input type="text" placeholder="Full name" >
                    <input type="email" placeholder="E-mail" >
                    <input type="tel" placeholder="Mobile number" >
                </div>
                <div class="house-details-request-tour-form-contact-message">
                    <label>Message</label>
                    <textarea></textarea>
                </div>

                <div class="house-details-request-tour-form-contact-button">
                    <button>Request Tour</button>
                </div>

            </form>

        </div>

    </div>

{% endblock extra_html %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}
<script>
    $(function(){
        // Active current page
        $(".menu-item.buy_page").addClass("active").siblings().removeClass("active");
    })
</script>

<!-- ========== REVOLUTION SLIDER ========== -->
<script src="{% static 'frontend/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<script>
    $(function(){
        
        // Getting Slider Image width
        let slider_image_width = $(".owl-carousel .owl-item");

        // Setting Slider Image Height depend on width
        $(".owl-carousel .owl-item").css("height", (slider_image_width[0].offsetWidth * 0.7))


        // Getting Slider Thumbs Image width
        let slider_thumbs_width = $("#room-thumbs .item");

        // Setting Slider Thumbs Height depend on width
        $(".owl-carousel.owl-drag .owl-item").css("height", (slider_thumbs_width[0].offsetWidth * 0.7))

        // CHANGE SLIDER IMAGES ON RESIZE
        $(window).on('resize', function(){

            // Getting Slider Image width
            let slider_image_width = $(".owl-carousel .owl-item");

            // Setting Slider Image Height depend on width
            $(".owl-carousel .owl-item").css("height", (slider_image_width[0].offsetWidth * 0.7))


            // Getting Slider Thumbs Image width
            let slider_thumbs_width = $("#room-thumbs .item");

            // Setting Slider Thumbs Height depend on width
            $(".owl-carousel.owl-drag .owl-item").css("height", (slider_thumbs_width[0].offsetWidth * 0.7))


        });

        $(document).on("click", "#request-tour-mobile-navbar-btn", function(){

            $("#house-details-request-tour-mobile-view").fadeIn();

        });

        $(document).on("click", "#house-details-request-tour-header-icon", function(){

            $("#house-details-request-tour-mobile-view").fadeOut();

        });

    });
</script>

{% endblock currentPageScriptsFiles %}
