<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah | BUY{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'base/framework/plugins/lightbox/photoswipe.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'base/framework/plugins/lightbox/default-skin/default-skin.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'base/framework/plugins/lightbox/custom-photswipe.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->   


{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}


{% comment %} Header {% endcomment %}
{% include 'pages/frontend/header.html' %}


<!-- ========== MAIN ========== -->
<main class="room">
    <div class="container">
        

        {% comment %} START OF GALLERY {% endcomment %}


        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            
            <div class="layout-px-spacing">
                
                <div class="row" id="cancel-row">
                    
                    <div class="col-lg-12 layout-spacing layout-top-spacing">
                        
                        <div class="statbox widget box box-shadow">
                            
                            <div class="widget-content widget-content-area">
                                
                                <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">
                                    
                                    <a class="normal-gallery-image" href="{% static 'frontend/images/rooms/im1.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im1.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im1.webp' %}" alt="image-gallery">
                                        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
                                    </a>

                                    <a class="normal-gallery-image" href="{% static 'frontend/images/rooms/im2.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im2.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im2.webp' %}" alt="image-gallery">
                                        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
                                    </a>

                                    <a class="normal-gallery-image" href="{% static 'frontend/images/rooms/im3.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im3.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im3.webp' %}" alt="image-gallery">
                                        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
                                    </a>

                                    <a class="big-gallery-image" href="{% static 'frontend/images/rooms/im1.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im1.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im1.webp' %}" alt="image-gallery">
                                        <figure>This is dummy caption.</figure>
                                    </a>

                                    <a class="normal-gallery-image" href="{% static 'frontend/images/rooms/im2.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im2.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im2.webp' %}" alt="image-gallery">
                                        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
                                    </a>

                                    <a class="normal-gallery-image" href="{% static 'frontend/images/rooms/im3.webp' %}" data-size="1920x1080" data-med="{% static 'frontend/images/rooms/im3.webp' %}" data-med-size="1920x1080">
                                        <img src="{% static 'frontend/images/rooms/im3.webp' %}" alt="image-gallery">
                                        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
                                    </a>
                                    
                                    
                                </div>
                                
                                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                                    <!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
                                    <div class="pswp__bg"></div>

                                    <!-- Slides wrapper with overflow:hidden. -->
                                    <div class="pswp__scroll-wrap">
                                        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                                        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>

                                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                        <div class="pswp__ui pswp__ui--hidden">

                                            <div class="pswp__top-bar">

                                                <!--  Controls are self-explanatory. Order can be changed. -->
                                                <div class="pswp__counter"></div>
                                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                                <div class="pswp__preloader">
                                                    <div class="pswp__preloader__icn">
                                                        <div class="pswp__preloader__cut">
                                                            <div class="pswp__preloader__donut"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div> 
                                            </div>

                                            
                                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>  
            </div>
        </div>

        <!--  END CONTENT AREA  -->

        {% comment %} END OF GALLERY {% endcomment %}

        <div class="section-title">
            <h4>SR 986K</h4>
            <p class="section-subtitle">Apartment for sale, 75 Wall Street Financial District, in New York, United States</p>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea
            <u>commodo consequat.</u>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit...
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ut, asperiores voluptatibus quo rem iusto laborum, laudantium corrupti ea esse officia placeat beatae! Ducimus quasi nisi odio architecto repudiandae illo sunt nulla quia obcaecati
            blanditiis? Doloremque commodi deserunt corporis, maiores, quam ipsam voluptates beatae necessitatibus, sapiente impedit sunt cupiditate odio, officiis quo debitis distinctio! Tenetur quibusdam modi adipisci vel ullam cum ratione itaque laborum
            molestias nesciunt. Qui itaque saepe obcaecati quo tempora natus laudantium quidem, inventore totam. Nobis incidunt est doloribus qui vero expedita a fugit necessitatibus minus sapiente illo, commodi laudantium minima quo deserunt odio repellat
            placeat quas, perferendis, voluptates! Omnis corporis nostrum optio reprehenderit aspernatur consequuntur, nisi rerum. Architecto provident alias voluptatem aliquam tenetur eius eos. Iure, earum. Asperiores consectetur, dolorem animi pariatur. Magni
            necessitatibus non hic odit nesciunt voluptatum distinctio provident, repellendus quae dolores, assumenda delectus quisquam fuga velit natus cumque. Odio sint deserunt ex dolorem, culpa, sit accusantium nesciunt. Dicta, nulla aperiam expedita nihil
            at laborum! Minima ducimus, nobis quasi minus totam ab quo, quia labore nihil praesentium doloremque recusandae! Voluptas delectus distinctio architecto aliquid eligendi nostrum odio a culpa modi cumque mollitia id, consequuntur, labore, ut minima
            illum. Repellendus cumque veniam quae odit enim.
        </p>

        <div class="section-title">
            <h4>SERVICES</h4>
            <p class="section-subtitle">Single Includes</p>
        </div>
        <div class="room-services-list">
            <div class="row">
                
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Double Bed</li>
                        <li>
                        <i class="fa fa-check"></i>80 Sq mt</li>
                        <li>
                        <i class="fa fa-check"></i>3 Persons</li>
                        <li>
                        <i class="fa fa-check"></i>Free Internet</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Free Wi-Fi</li>
                        <li>
                        <i class="fa fa-check"></i>Breakfast Include</li>
                        <li>
                        <i class="fa fa-check"></i>Private Balcony</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Free Newspaper</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li class="no">
                        <i class="fa fa-times"></i>Flat Screen Tv</li>
                        <li>
                        <i class="fa fa-check"></i>Full Ac</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Beach View</li>
                        <li>
                        <i class="fa fa-check"></i>Room Service</li>
                    </ul>
                </div>

            </div>
        </div>
        

        <div class="section-title">
            <h4>MAP</h4>
            <p class="section-subtitle">Location lat, lang, google icon</p>
        </div>
        
        <div class="buy-page-details-location-map">

            {{map|safe}}
            
        </div>


        <div class="section-title">
            <h4>Amenities</h4>
        </div>
        <div class="room-services-list">
            <div class="row">
                
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Double Bed</li>
                        <li>
                        <i class="fa fa-check"></i>80 Sq mt</li>
                        <li>
                        <i class="fa fa-check"></i>3 Persons</li>
                        <li>
                        <i class="fa fa-check"></i>Free Internet</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                        <i class="fa fa-check"></i>Free Wi-Fi</li>
                        <li>
                        <i class="fa fa-check"></i>Breakfast Include</li>
                        <li>
                        <i class="fa fa-check"></i>Private Balcony</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Free Newspaper</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li class="no">
                        <i class="fa fa-times"></i>Flat Screen Tv</li>
                        <li>
                        <i class="fa fa-check"></i>Full Ac</li>
                        <li class="no">
                        <i class="fa fa-times"></i>Beach View</li>
                        <li>
                        <i class="fa fa-check"></i>Room Service</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</main>


{% comment %} Footer {% endcomment %}
{% include 'pages/frontend/footer.html' %}

{% endblock currentBodyContent %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}
<script>
    $(function(){
        // Active current page
        $(".menu-item.buy_page").addClass("active").siblings().removeClass("active");
    })
</script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'base/framework/plugins/lightbox/photoswipe.min.js' %}"></script>
    <script src="{% static 'base/framework/plugins/lightbox/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'base/framework/plugins/lightbox/custom-photswipe.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->


{% endblock currentPageScriptsFiles %}
