<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah | BUY{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}


{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}

{% comment %} Header {% endcomment %}
{% include 'pages/frontend/header.html' %}

<section class="house-buy-filter container">

    <div class="search-form-top">

        <!-- ========== SEARCHING FORM ========== -->
        <div class="search-house-form">

            <form id="booking-form">
                <!-- NAME -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label>Location</label>
                        <input class="form-control" name="search-location" type="text" data-trigger="hover" placeholder="Write target location">
                        </div>
                    </div>
                    
                    <!-- Property TYPE -->
                    <div class="col-md-3 col-6">
                        <div class="form-group">
                            <label>
                                Property type
                            </label>
                            <select class="form-control" name="booking-property-type" title="Select Property type" >
                                <option value="Single">Single Room</option>
                                <option value="Double">Double Room</option>
                                <option value="Deluxe">Deluxe Room</option>
                            </select>
                        </div>
                    </div>
                    <!-- ROOMS And Bathromms -->
                    <div class="col-md-3 col-6">
                        <div class="form-group">
                            <label>ROOMS & Bathrooms</label>
                            <div class="panel-dropdown">
                                <div class="form-control guestspicker">
                                    Rooms & Bathrooms
                                    <span class="gueststotal"></span>
                                </div>
                                <div class="panel-dropdown-content">
                                    <div class="guests-buttons">
                                        <label>Rooms</label>
                                        <div class="guests-button">
                                            <div class="minus"></div>
                                            <input type="text" name="booking-adults" class="booking-guests" value="0">
                                            <div class="plus"></div>
                                        </div>
                                    </div>
                                    <div class="guests-buttons">
                                        <label>Bathromms</label>
                                        <div class="guests-button">
                                            <div class="minus"></div>
                                            <input type="text" name="booking-children" class="booking-guests" value="0">
                                            <div class="plus"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BOOKING BUTTON -->
                    <div class="col-md-2 btn-find-hous-buy-page">
                        <button type="submit" class="btn">Find</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="filter-body">

        <div class="house-buy-filter-data-section">
    
            <!-- START OF HOUSE DETAILS-->
            <main class="rooms-list-view houses-list-main">
                <div class="container">
                    
                    <div class="row">
    
                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                        <!-- START OF ITEM -->
                        <div class="col-md-4">
                            <!-- ITEM -->
                            <div class="room-list-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <figure class="gradient-overlay-hover link-icon">
                                            <a href="{% url 'buy_house_details_page' %}"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg" class="img-fluid" alt="Image"></a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="room-info">
                                            <h3 class="room-title">
                                                <a href="{% url 'buy_house_details_page' %}">SR 890K</a>
                                            </h3>
                                            
                                            <p>
                                                <!-- Location Icon -->
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 18px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                </span>
    
                                                <!-- Location -->
                                                <span>17011 Hidden Treasure Cir, Friendswood, TX 77546</span>
                                            </p>
                                            <div class="room-services">
                                                <span>Area: 150m<sup>2</sup></span>
                                                <span>Beds: 5</span>
                                                <span>Bathrooms: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF ITEM -->

                    </div>
                    
    
                </div>
            </main>
            <!-- END OF HOUSE DETAILS-->
    
        </div>

    </div>

</section>


{% endblock currentBodyContent %}

{% block extra_html %}
    {% comment %} SHOW FULL MAP {% endcomment %}
    <div class="mobile-map-displayer">
        <button class="btn" id="display-mobile-map">
            <span class="map-displayer-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
            </span>
            Map view
        </button>
    </div>

    {% comment %} MAP {% endcomment %}
    <div class="mobile-map-view" id="mobile-map-view">

        <!-- Search filter -->
        <div class="full-map-filter">

            <!-- ========== SEARCHING FORM ========== -->
            <div class="search-house-form">

                <form id="booking-form">
                    
                    <div class="input-group">
                        <button class="btn" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
                        </button>
                        <input type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="button-addon2">
                        <button class="btn" type="button">Find</button>
                    </div>

                </form>
            </div>


        </div>

        <!-- Map -->
        <div class="mobile-map-view-map">

            {{map|safe}}
    
        </div>

        {% comment %} SHOW FULL MAP {% endcomment %}
        <div class="mobile-list-displayer">
            <button class="btn" id="disable-mobile-map">
                <span class="list-displayer-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                </span>
                List view
            </button>
        </div>

    </div>

{% endblock extra_html %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}

<script>

    $(function(){

        // display the mobile map
        $(document).on('click', "#display-mobile-map" , function(){
            
            $("#mobile-map-view").fadeIn();

        });

        // disaple the mobile map
        $(document).on('click', "#disable-mobile-map" , function(){
            
            $("#mobile-map-view").fadeOut();

        });

    });

</script>


{% endblock currentPageScriptsFiles %}
