{% extends 'pages/frontend/Sign/login_and_registeration_base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}Create Account | Elcaptain Group{% endblock title %}

<!-- Body Content-->
{% block body %}

    <div class="form-items">
        <div class="page-links">
            <a href="{% url 'Login' %}">Login</a>
            <a href="{% url 'Registeration' %}" class="active">Register</a>
        </div>

        <!-- Start of Formly [ 1 ] Basic  -->
        <section class="Formly Formly-Flat">
            <div class="Formly-Flat-Form-Container">

                <!-- End Of Formly Head [ Logo ] -->
                <div class="Formly-Flat-Forms Formly-Flat-Register-Form">
                    <!-- Start Of Form Header -->
                    <div class="Formly-Flat-Form-Header" style="margin-bottom: 30px">
                        <div class="Formly-Flat-Form-Title">
                            <h3>Create an account</h3>
                        </div>
                        <div class="Formly-Flat-Form-sub-title">
                            <span>Setup a new account in 5 seconds</span>
                        </div>
                    </div>
                    <!-- End Of Form Header -->
                    <!-- Start Of Form -->
                    <form method="POST">
                        {% csrf_token %}
                        <div>
                            {{form}}
                        </div>
                        
                        <div class="col-12"  style="padding: 0;">
                            <div class="form-button">
                                <button type="submit" class="ibtn">Register</button>
                            </div>
                        </div>
                        
                    </form>
                    <!-- End Of Form -->
                </div>
            </div>
        </section>
        <!-- End Of Formly [ 1 ] Basic  -->
    </div>

{% endblock body %}