<!-- Extends The Base Template -->
{% extends 'pages/frontend/frontend_base.html' %}

<!-- Load Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %}Buhrah{% endblock title %}

<!-- Styling files -->
{% block currentPageStylesFiles %}

{% endblock currentPageStylesFiles %}



<!-- Page Body Content -->
{% block currentBodyContent %}
{% csrf_token %}

    {% comment %} Header {% endcomment %}
    {% include 'pages/frontend/header.html' %}

    <!-- ========== REVOLUTION SLIDER ========== -->
    <div class="slider">
        <div id="rev-slider-1" class="rev_slider gradient-slider" style="display:none" data-version="5.4.5">
        <ul>
            <!-- SLIDE NR. 1 -->
            <li data-transition="crossfade">
            <!-- MAIN IMAGE -->
            <img src="{% static 'frontend/images/slider/slider1.jpg' %}" alt="Image" title="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYER NR. 1 -->
            <h1
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="320"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="['80','50','40','30']"
                data-lineheight="['60','50','40','30']"
                data-whitespace="nowrap"
                data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 5; color: #fff; font-weight: 900;">
                TOUCH THE DREAM</h1>
            <!-- LAYER NR. 2 -->
            <div
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="410"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="16"
                data-lineheight="16"
                data-whitespace="nowrap"
                data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 6; color: #fff;">Live Your Myth In Hotel Himara</div>
            <!-- LAYER NR. 3 -->
            <div
                class="tp-caption"
                data-x="center"
                data-hoffset="-120"
                data-y="480"
                data-voffset=""
                data-responsive_offset="on"
                data-whitespace="nowrap"
                data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 11;">
                <a class="btn" href="booking-form.html">
                <i class="fa fa-calendar"></i>BOOK A ROOM NOW</a>
            </div>
            <!-- LAYER NR. 4 -->
            <div
                class="tp-caption"
                data-x="center"
                data-hoffset="128"
                data-y="480"
                data-voffset=""
                data-responsive_offset="on"
                data-whitespace="nowrap"
                data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 11;">
                <a class="btn" href="contact.html">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>CONTACT US NOW</a>
            </div>
            <!-- LAYER NR. 5 -->
            <div
                class="tp-caption tp_m_title tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="200"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="['18','18','16','16']"
                data-lineheight="['18','18','16','16']"
                data-whitespace="nowrap"
                data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="color: #fff">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <!-- LAYER NR. 6 -->
            <div
                class="tp-caption tp_m_title tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="240"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="['25','25','18','18']"
                data-lineheight="['25','25','18','18']"
                data-whitespace="nowrap"
                data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="color: #fff">
                Star Luxury Hotel
            </div>
            </li>
            
            <!-- SLIDE NR. 2 -->
            <li data-transition="crossfade">
            <!-- MAIN IMAGE -->
            <img src="{% static 'frontend/images/slider/slider3.jpg' %}" alt="Image" title="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYER NR. 1 -->
            <div
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="320"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="['70','50','40','25']"
                data-lineheight="['60','50','40','25']"
                data-whitespace="nowrap"
                data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 5; color: #fff; font-weight: 900;">WHERE DREAMS COME TRUE
            </div>
            <!-- LAYER NR. 2 -->
            <div
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="410"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="16"
                data-lineheight="16"
                data-whitespace="nowrap"
                data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 6; color: #fff;">You'll Never Forget Your Stay
            </div>
            </li>
            
            <!-- SLIDE NR. 3 -->
            <li data-transition="crossfade">
            <!-- MAIN IMAGE -->
            <img src="{% static 'frontend/images/slider/slider13.jpg' %}" alt="Image" title="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYER NR. 1 -->
            <div
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="305"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="['80','70','60','40']"
                data-lineheight="['80','70','60','40']"
                data-whitespace="nowrap"
                data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 5; color: #fff; font-weight: 900;">ENJOY YOUR HOLIDAYS
            </div>
            <!-- LAYER NR. 2 -->
            <div
                class="tp-caption tp-resizeme"
                data-x="center"
                data-hoffset=""
                data-y="410"
                data-voffset=""
                data-responsive_offset="on"
                data-fontsize="16"
                data-lineheight="16"
                data-whitespace="nowrap"
                data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                style="z-index: 6; color: #fff;">Family Room from €89 per night
            </div>
            </li>

        </ul>
        </div>

        <!-- ========== BOOKING FORM ========== -->
        <div class="horizontal-booking-form">
        <div class="container">
            <div class="inner box-shadow-007">
            <!-- ========== BOOKING NOTIFICATION ========== -->
            <div id="booking-notification" class="notification"></div>
                <form id="booking-form">
                    
                    <div class="row">
                        <!-- Location -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Location
                                    <a href="#" title="Target Location" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Please type the target location">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </label>
                                <input class="form-control" name="search-location" type="text" data-trigger="hover" placeholder="Write target location">
                            </div>
                        </div>
                        
                        <!-- Property TYPE -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Property type
                                </label>
                                <select class="form-control" name="booking-property-type" title="Select Property type" >
                                    <option value="Single">Single Room</option>
                                    <option value="Double">Double Room</option>
                                    <option value="Deluxe">Deluxe Room</option>
                                </select>
                            </div>
                        </div>
                        <!-- ROOMS And Bathromms -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ROOMS & Bathrooms
                                    <a href="#" title="ROOMS & Bathrooms" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Please Select ROOMS & Bathrooms">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </label>
                                <div class="panel-dropdown">
                                    <div class="form-control guestspicker">
                                        Rooms & Bathrooms
                                        <span class="gueststotal"></span>
                                    </div>
                                    <div class="panel-dropdown-content">
                                        <div class="guests-buttons">
                                            <label>Rooms
                                                <a href="#" title="" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="18+ years" data-original-title="Adults">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                            </label>
                                            <div class="guests-button">
                                                <div class="minus"></div>
                                                <input type="text" name="booking-adults" class="booking-guests" value="0">
                                                <div class="plus"></div>
                                            </div>
                                        </div>
                                        <div class="guests-buttons">
                                            <label>Bathromms
                                                <a href="#" title="" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Under 18 years" data-original-title="Children">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                            </label>
                                            <div class="guests-button">
                                                <div class="minus"></div>
                                                <input type="text" name="booking-children" class="booking-guests" value="0">
                                                <div class="plus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BOOKING BUTTON -->
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-book">Find</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        </div>

    </div>
    <!-- ========== END OF REVOLUTION SLIDER ========== -->

    <!-- ========== ABOUT ========== -->
    <section class="about mt100">
        <div class="container">
            <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                <h4 class="text-uppercase">buhrah. since 1992</h4>
                <p class="section-subtitle">High quality accommodation services</p>
                </div>
                <div class="info-branding">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus deleniti nulla, hic voluptatibus eum voluptatum libero suscipit nemo voluptates cupiditate, ipsum provident facere modi tempora ducimus enim dicta laborum esse aliquam rem
                    assumenda dolores. Commodi, aperiam, blanditiis! Ipsum iure necessitatibus eaque, fuga. Excepturi facilis libero dicta soluta officiis, sint sit voluptatem, vero doloribus nesciunt suscipit dolores veritatis minus quam atque non autem quasi
                    consequatur quae sequi ex, ipsa facere qui ut recusandae. Quod earum cupiditate quaerat assumenda.
                </p>
                
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brand-info" style="background-image: url({% static 'frontend/images/about-card.jpg' %});">
                <div class="inner">
                    <div class="content">
                    <img src="{% static 'base/images/icon.svg' %}" width="100" alt="Image">
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h5 class="title">LUXURY SERVICE</h5>
                    <p class="mt20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorem iste suscipit voluptates architecto nemo.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ========== END OF ABOUT ========== -->

    <!-- ========== NEWS ==========-->
    <section class="news gray">
        <div class="container">
            <div class="section-title">
                <h4 class="title">LATEST NEWS</h4>
                <p class="section-subtitle">Check out our latest news</p>
                <a href="blog.html" class="view-all">View all news</a>
            </div>
            <div class="row">
                <!-- ITEM -->
                <div class="col-md-4">
                    <div class="news-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="blog-post.html">
                                <img src="{% static 'frontend/images/blog/blog-post1.jpg' %}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="news-info">
                            <h4 class="title">
                                <a href="blog-post.html">10 Tips for Holiday Travel</a>
                            </h4>
                            <p>An examination of how the current political and economical climate is affecting the mental healthcare industry...</p>
                            <div class="post-meta">
                                <span class="author">
                                    <a href="#"><img src="{% static 'frontend/images/users/admin.jpg' %}" width="16" alt="Image">
                                    JANE</a>
                                </span>
                                <span class="date">
                                    <i class="fa fa-clock-o"></i>
                                    August 13, 2017
                                </span>
                                <span class="comments">
                                    <a href="#">
                                        <i class="fa fa-commenting-o"></i>
                                        1 Comment
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ITEM -->
                <div class="col-md-4">
                    <div class="news-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="blog-post.html">
                                <img src="{% static 'frontend/images/blog/blog-post2.jpg' %}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="news-info">
                            <h4 class="title">
                                <a href="blog-post.html">Enjoy your holidays</a>
                            </h4>
                            <p>An examination of how the current political and economical climate is affecting the mental healthcare industry...</p>
                            <div class="post-meta">
                                <span class="author">
                                    <a href="#"><img src="{% static 'frontend/images/users/admin.jpg' %}" width="16" alt="Image">
                                        JANE
                                    </a>
                                </span>
                                <span class="date">
                                    <i class="fa fa-clock-o"></i>
                                    August 16, 2017
                                </span>
                                <span class="comments">
                                    <a href="#">
                                        <i class="fa fa-commenting-o"></i>
                                        5 Comments
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ITEM -->
                <div class="col-md-4">
                    <div class="news-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="blog-post.html">
                                <img src="{% static 'frontend/images/blog/blog-post3.jpg' %}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="news-info">
                            <h4 class="title">
                                <a href="blog-post.html">Honeymoon at Hotel Himara</a>
                            </h4>
                            <p>An examination of how the current political and economical climate is affecting the mental healthcare industry...</p>
                            <div class="post-meta">
                                <span class="author">
                                    <a href="#"><img src="{% static 'frontend/images/users/admin.jpg' %}" width="16" alt="Image">
                                        JANE
                                    </a>
                                </span>
                                <span class="date">
                                    <i class="fa fa-clock-o"></i>
                                    January 11, 2018
                                </span>
                                <span class="comments">
                                    <a href="#">
                                        <i class="fa fa-commenting-o"></i>
                                        3 Comments
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ========== END OF NEWS ==========-->

    <!-- ========== CONTACT ==========-->
    <section class="contact-v2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title">
                        <h4>GET IN TOUCH</h4>
                        <p class="section-subtitle">Get in touch</p>
                    </div>
                    <ul class="contact-details">
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Lorem ipsum dolor, 25, Buhrah
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            Phone: +1 888 123 4567
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            Fax: +1 888 123 4567
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            Web: www.buhrah.com
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            Email:
                            <a href="mailto:info@site.com">contact@buhrah.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-7">
                    <div class="section-title">
                        <h4>CONTACT US</h4>
                        <p class="section-subtitle">Say hello</p>
                    </div>
                    <form id="contact-form" name="contact-form">
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="Your Name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" type="email" placeholder="Your Email Address">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
                        </div>
                        <button class="btn" type="submit">
                        <i class="fa fa-location-arrow"></i>Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== END OF CONTACT ==========-->

    {% comment %} Footer {% endcomment %}
    {% include 'pages/frontend/footer.html' %}
    
{% endblock currentBodyContent %}

<!-- Scripting files -->
{% block currentPageScriptsFiles %}

<!-- ========== REVOLUTION SLIDER ========== -->
<script src="{% static 'frontend/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'frontend/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<script>
    $(function(){
        // Active current page
        $(".menu-item.home_page").addClass("active").siblings().removeClass("active");
    })
</script>

{% endblock currentPageScriptsFiles %}
